/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/** {
  background-color: rgb(255, 255, 255);
}*/

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  /*color: white;*/
  text-transform: uppercase;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

/*Header*/

header {
  background: black;
  padding: 1rem 0 1rem 0;
  top: 0;
  z-index: 1;
  position: sticky;
  border-bottom: 0.1rem solid white;
  grid-area: header;
}

.header__parts {
  display: flex;
  flex-flow: row nowrap;
  justify-items: start;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: grid;
  grid-template-areas:
    " nav1 nav2"
    " nav3 nav4"
    "nav5 nav5";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

ul li {
  list-style-type: none;
  display: inline-block;
  border: 0.1rem solid white;
  border-radius: 0.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  width: 8rem;
  text-align: center;
}

.nav1 {
  grid-area: nav1;
}

.nav2 {
  grid-area: nav2;
}

.nav3 {
  grid-area: nav3;
}

.nav4 {
  grid-area: nav4;
}

.nav5 {
  grid-area: nav5;
}

ul li a {
  color: white;
  font-weight: bold;
}

.header__image {
  padding: 0;
  margin: 0.1rem 0 0.1rem 0;
  size: 500%;
  text-align: center;
}

/*Main*/
main {
  grid-area: main;
}

/*MainMenu*/

.main__image {
  background-image: url(/Media/no\ drama\ image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  position: relative;
  background-size: cover;
  width: 100%;
  margin-top: 0 auto;
  height: 90%;
}

.main__text {
  display: grid;
  padding-top: 3rem;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90% 5% 5%;
  grid-template-areas:
    "main__textFrase--first "
    "main__textFrase--second"
    "main__textFrase--third"
    "main__newsButton";
}

.main__textFrase {
  margin-left: 4%;
}

.main__textFrase--first {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-style: italic;
  font-size: 400%;
  grid-area: main__textFrase--first;
}

.main__textFrase--second {
  padding-bottom: 20rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 200%;
  grid-area: main__textFrase--second;
}

.main__textFrase--third {
  margin-left: 10%;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 150%;
  color: white;
  grid-area: main__textFrase--third;
}

.main__newsButton {
  display: block;
  margin-left: 80%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  color: white;
  grid-area: main__newsButton;
}

.main__lowText {
  position: center;
  text-align: center;
  height: 10%;
}

/*Footer*/

footer {
  background: black;
  padding: 0.4rem 0;
  position: sticky;

  bottom: 0;
  margin: 0 0 0 0;
  z-index: 1;
  grid-area: footer;
}

.footer__elements {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "footer oner footer two";
  align-items: center;
}

.footer__part--one {
  grid-area: footer one;
  text-align: center;
}

.footer__part--two {
  grid-area: footer two;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__text {
  color: white;
}

/* MainContact*/

.contact__fieldset {
  margin: 3rem 0 3rem 0;
}
.contact__info {
  padding: 1rem 2rem 1rem 2rem;
}

.contact__text {
  text-transform: uppercase;
}

.contact__text--contactUs {
  color: rgb(32, 8, 88);
  size: 250%;
  font-weight: bold;
  text-align: center;
  font-style: oblique;
}

.contact__infoFill {
  margin-bottom: 1.5rem;
}

.contact__infoFill--elements {
  display: inline-block;
  margin-right: 0.1rem;
}

.contact__text--infoFill {
  font-weight: bold;
}

.contact__infoMessage {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3rem;
}

.send__button {
  padding: 0.1rem 1rem 0.1rem 1rem;
  text-transform: capitalize;
  background-color: rgba(133, 226, 109, 0.26);
  border: 0.01rem solid black;
}

/* News*/

.news__element {
  display: inline-block;
  padding: 1rem 3rem 1rem 3rem;
  min-height: 60rem;
}

.news__elementpart {
  padding: 1rem 0 1rem 0;
  display: inline-block;
  border: 0.2rem solid black;
  margin: 2rem 0.2rem 2rem 0.2rem;
  width: 100%;
  min-height: 10rem;
}

.news_title {
  font-weight: bold;
  font-size: 200%;
  color: rgb(27, 27, 94);
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.news_content {
  font-size: 150%;
  color: rgb(53, 49, 49);
  text-align: justify;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.news__aboutUs {
  color: rgb(48, 8, 8);
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin: 3rem 0rem 3rem 0rem;
  text-align: center;
}

.icon__news {
  color: black;
  font-size: 400%;
  text-align: center;
  position: center;
}

.propaganda--part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(211, 208, 208);
}

/* Articles*/

.article__title {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  margin: 0.1rem 0 0.2rem 0.1rem;
  text-transform: capitalize;
  color: rgb(52, 14, 87);
  font-weight: bold;
  font-size: 150%;
}

.article__space {
  padding: 1rem 0.1rem 1rem 1rem;
  margin: 0.1rem 1rem 0.2rem 0rem;
  width: 100%;
  border: 0.01rem solid rgb(29, 16, 34);
  color: black;
  font-size: 100%;
  min-height: 5rem;
  background-color: rgb(253, 242, 255);
  display: inline-block;
}

.Article__elements {
  margin: 1rem 0.3rem 1rem 0.3rem;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.firstArticle__elements__video {
  max-width: 70%;
}

.firstArticle__elements--text {
  text-align: start;
  margin-top: 0 auto;
  padding-top: 0%;
}

.secondArticle__video {
  color: red;
}

.thirdArt9cle__video {
  color: rgb(12, 12, 12);
}

/* Projects*/

/*cambios projects para entrega animacion*/

.projects__intro {
  color: rgb(246, 240, 240);
  font-style: italic;
  background-color: rgb(29, 27, 79);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0.2rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  opacity: 0.5;
  transition: opacity 1s;
}

.projects__intro:hover {
  opacity: 1;
}

.projects__intro--additional {
  size: 90%;
  font-weight: bold;
}

.projectos__texto {
  display: inline-block;
}

.project__title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 1rem;
  color: black;
}

.projectos__textoSpace {
  display: inline-block;
  padding: 3rem 1.5rem 3rem 1.5rem;
  margin: 0 auto;
  min-height: 15rem;
}

.project__text {
  padding: 1rem 0 3rem 0;
  font-size: 120%;
  font-style: italic;
  color: rgb(51, 49, 49);
}

.project__link {
  padding: 2rem 0 2rem 0;
  color: rgb(4, 4, 31);
}

/* Total grid*/
#grid__general {
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
}

/*organizacion de mains por hoja*/

.index__organization {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.news__organization {
  display: grid;
  grid-template-areas:
    "news"
    "propaganda";
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
  min-height: 100vh;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: start;
}

.news {
  grid-area: news;
}

.propaganda {
  grid-area: propaganda;
  transition-property: width, height;
  transition-duration: 2s;
}

/*Media query*/
@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .footer__elements {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-template-areas:
      "footer oner"
      "footer two";
    align-items: center;
  }

  .footer__part--two {
    grid-area: footer two;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .footer__part--one {
    grid-area: footer one;
  }

  .header__image {
    padding: 0;
    margin: 0.1rem 2rem 0.1rem 0rem;
    size: 300%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .news__organization {
    display: grid;
    grid-template-areas: "news propaganda";
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    min-height: 100vh;
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: start;
  }
  .propaganda--part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .header__image {
    padding: 0;
    margin: 0.1rem 2rem 0.1rem 0rem;
  }

  ul {
    display: inline-block;
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    border: 0.1rem solid white;
    border-radius: 0.1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin: 0.1rem 2rem 0.1rem 3rem;
    width: 8rem;
    text-align: center;
  }
}

/*agregados para entrega animacion*/
#grad {
  background: linear-gradient(to top, grey, white);
}

.propaganda:hover {
  width: 150%;
  height: 150%;
}
