/* Articles*/

.article__title {
  padding: 4rem 0.1rem 0.1rem 0.1rem;
  margin: 0.1rem 0 0.2rem 0.1rem;
  text-transform: capitalize;
  color: rgb(52, 14, 87);
  font-weight: bold;
  font-size: 150%;
}

.article__space {
  padding: 1rem 0.1rem 1rem 1rem;
  margin: 0.1rem 1rem 0.2rem 0rem;
  width: 100%;
  border: 0.01rem solid rgb(29, 16, 34);
  color: black;
  font-size: 100%;
  min-height: 5rem;
  background-color: rgb(253, 242, 255);
  display: inline-block;
}

.Article__elements {
  margin: 1rem 0.3rem 1rem 0.3rem;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.firstArticle__elements__video {
  max-width: 70%;
}

.firstArticle__elements--text {
  text-align: start;
  margin-top: 0 auto;
  padding-top: 0%;
}

.secondArticle__video {
  color: rgb(254, 253, 253);
  background-color: #4c6e97;
}

.thirdArticle__video {
  color: rgb(12, 12, 12);
}

.main__articles {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
}
