/* Articles*/

.article__title {
  text-transform: capitalize;
  color: $color--azul---muy--oscuro;
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, mediumsize);
  background-color: $color--azul--muy--claro;
}

.Article__elements__video {
  max-width: 70%;
}

.main__articles {
  padding-top: 5rem;
  @include paddingb_marginb(3rem, 5rem);
  min-height: 75vh;
}
