/* Articles*/

.article__title {
  text-transform: capitalize;
  color: rgb(52, 14, 87);
  font-weight: bold;
  font-size: 150%;
  /* @include padding_margin(4rem 0.1rem 0.1rem 0.1rem, 0.1rem 0 0.2rem 0.1rem);*/
}

.Article__elements {
  /*  @include padding_margin(0.1rem 0.1rem 0.1rem 0.1rem, 1rem 0.3rem 1rem 0.3rem);*/
}

.Article__elements__video {
  max-width: 70%;
}

.main__articles {
  padding-top: 3rem;
  @include paddingb_marginb(3rem, 5rem);
}
