.contact__main {
  @include paddingb_marginb(1rem, 1rem);
  min-height: 75vh;
  @media (min-width: 1200px) {
    min-height: 80vh;
  }
}

.title__contact {
  color: $color--azul--oscuro--header;
  font-weight: map-get($font-weights, boldweight);
  margin-top: 2rem;
}

.button {
  background: $color--azul--claro;
  border: none;
  color: $color--blanco;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background: $color--gris--oscuro;
    color: $color--negro;
  }

  &:focus {
    background: $color--azul---muy--oscuro;
    outline-style: solid;
  }
}
