/*Footer*/

.background__footer {
  background-color: rgb(89, 112, 129);
}

/*
    footer {
      background: black;
      padding: 0.4rem 0;
      position: sticky;
    
      bottom: 0;
      margin: 0 0 0 0;
      z-index: 1;
      grid-area: footer;
    }
    
    .footer__elements {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "footer oner footer two";
      align-items: center;
    }
    
    .footer__part--one {
      grid-area: footer one;
      text-align: center;
    }
    
    .footer__part--two {
      grid-area: footer two;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    
    .footer__text {
      color: white;
    }
    */
/* MainContact*/

/*
    .contact__fieldset {
      margin: 3rem 0 3rem 0;
    }
    .contact__info {
      padding: 1rem 2rem 1rem 2rem;
    }
    
    .contact__text {
      text-transform: uppercase;
    }
    
    .contact__text--contactUs {
      color: rgb(32, 8, 88);
      size: 250%;
      font-weight: bold;
      text-align: center;
      font-style: oblique;
    }
    
    .contact__infoFill {
      margin-bottom: 1.5rem;
    }
    
    .contact__infoFill--elements {
      display: inline-block;
      margin-right: 0.1rem;
    }
    
    .contact__text--infoFill {
      font-weight: bold;
    }
    
    .contact__infoMessage {
      font-weight: bold;
      font-style: italic;
      margin-bottom: 3rem;
    }
    
    .send__button {
      padding: 0.1rem 1rem 0.1rem 1rem;
      text-transform: capitalize;
      background-color: rgba(133, 226, 109, 0.26);
      border: 0.01rem solid black;
    }*/
