/*Header*/

header {
  background: linear-gradient(
    to right,
    $color--gris--oscuro--header,
    $color--azul--oscuro--header
  );
  padding: 1rem 0 1rem 0;
  top: 0;
  z-index: 1;
  position: sticky;
  border-bottom: 0.1rem solid $color--blanco;
}

ul {
  align-items: center;
  justify-items: center;

  li {
    list-style-type: none;
    display: inline-block;
    border-radius: 0.1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    width: 8rem;
    text-align: center;
    a {
      color: $color--blanco;
      font-weight: map-get($font-weights, boldweight);
    }
  }
}

.nav1 {
  grid-area: nav1;
}

.nav2 {
  grid-area: nav2;
}

.nav3 {
  grid-area: nav3;
}

.nav4 {
  grid-area: nav4;
}

.nav5 {
  grid-area: nav5;
}

.header__image {
  size: 500%;
  text-align: center;
  @include padding_margin(0, 0.1rem 0 0.1rem 0);
}
