/*Index*/
.index__background__image {
  /*background-image: url("../media/peace.jpg");*/
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  margin-top: 0 auto;
  min-height: 78vh;
  @media (min-width: 768px) {
    min-height: 85vh;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.space__firstText {
  @include paddingb_marginb(20rem, 2rem);
  padding-top: 3rem;
}

.style__firstText {
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, bigsize);
  color: $color--azul--oscuro--header;
  text-align: center;
  padding: 0.2rem;
  @media (min-width: 992px) {
    font-size: map-get($font-sizes, biggersize);
  }
}

.style__secondText {
  font-weight: map-get($font-weights, veryboldweight);
  font-size: map-get($font-sizes, mediumsize);
  color: $color--azul---muy--oscuro;
  text-align: center;
  padding: 0.2rem;
  margin-bottom: 2rem;
  @media (min-width: 992px) {
    font-size: map-get($font-sizes, bigsize);
  }
}

.style__newsButton {
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, mediumsize);
  color: $color--azul--oscuro--header;
  background: $color--fondo--incio-oscuro;
  text-align: center;
  padding: 0.2rem;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    background: $color--fondo--incio;
  }
}
