/*Index*/
.index__background__image {
  background-image: url(/media/peace.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  margin-top: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.space__firstText {
  @include paddingb_marginb(20rem, 2rem);
  padding-top: 3rem;
}

.style__firstText {
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, bigsize);
  color: $color--inicio;
  background: $color--fondo--incio;
  text-align: center;
  padding: 0.2rem;
}

.style__secondText {
  font-weight: map-get($font-weights, veryboldweight);
  font-size: map-get($font-sizes, bigsize);
  color: $color--azul---muy--oscuro;
  text-align: center;
  padding: 0.2rem;
  margin-bottom: 2rem;
}

.style__newsButton {
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, mediumsize);
  color: $color--inicio;
  background: $color--fondo--incio;
  text-align: center;
  padding: 0.2rem;
  margin-bottom: 1rem;
}
