/* News*/

.news__element {
  padding: 1rem 1rem 1rem 1rem;
  min-height: 60rem;
}

.news__elementpart {
  padding: 1rem 0 1rem 0;
  border-left: 0.3rem solid $color--gris--claro;
  margin: 2rem 0.2rem 2rem 0.2rem;
  width: 100%;
  min-height: 10rem;
}

.news_title {
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, bigsize);
  color: $color--azul---muy--oscuro;
  font-style: italic;
  text-transform: capitalize;
  text-align: left;
  margin: 0.2rem 0.2rem 0.2rem 0rem;
}

.news_content {
  font-size: map-get($font-sizes, normalsize);
  color: $color--gris--oscuro;
  text-align: justify;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.news__aboutUs {
  color: rgb(48, 8, 8);
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin: 3rem 0rem 3rem 0rem;
  text-align: center;
}

.propaganda {
  @extend .news__element;
  transition-property: width, height;
  transition-duration: 2s;
  background-color: $color--azul--muy--claro;
}

.icon__news {
  color: $color--azul---muy--oscuro;
  font-size: map-get($font-sizes, hugesize);
  text-align: center;
  transition-property: width, height;
  transition-duration: 2s;
  &:hover {
    width: 150%;
    height: 150%;
  }
}

.propaganda--part {
  display: inline-block;
  text-align: center;
}
