/* News*/

.news__element {
  padding: 1rem 1rem 1rem 1rem;
  min-height: 60rem;
}

.news__elementpart {
  padding: 1rem 0 1rem 0;
  border-left: 0.3rem solid $color--gris--claro;
  margin: 2rem 0.2rem 2rem 0.2rem;
  width: 100%;
  min-height: 10rem;
  @media (min-width: 768px) {
    margin: 2rem 0rem 2rem 0rem;
  }
}

.news_title {
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, bigsize);
  color: $color--azul---muy--oscuro;
  font-style: italic;
  text-transform: capitalize;
  text-align: left;
  margin: 0.2rem 0.2rem 0.2rem 0rem;
}

.news_content {
  font-size: map-get($font-sizes, normalsize);
  color: $color--gris--oscuro;
  text-align: justify;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.propaganda {
  align-self: flex-start;
  margin: 0.1rem 0rem 1rem 0rem;
  border: 1px solid $color--gris--oscuro;
  padding: 10px;
  border-radius: 40px 10px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    $color--azul--oscuro,
    $color--azul--muy--claro
  );
  transition: background-color, 3s;
  &:hover {
    background: $color--naranja--suave;
  }
  @media (min-width: 768px) {
    overflow: hidden;
    position: sticky;
    top: 20%;
    margin: 0.1rem 0.1rem 1rem 0.1rem;
  }
}

.news__aboutUs {
  color: $color--negro;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  margin: 0.1rem 0rem 0.1rem 0rem;
  text-align: center;
  font-weight: map-get($font-weights, boldweight);
  font-size: map-get($font-sizes, mediumsize);
  @media (min-width: 768px) {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    margin: 1rem 0rem 3rem 0rem;
  }
}

.icon__news {
  color: $color--azul---muy--oscuro;
  font-size: map-get($font-sizes, phonesize);
  text-align: center;
  @media (min-width: 768px) {
    font-size: map-get($font-sizes, superhugesize);
  }
}

.propaganda--part {
  display: inline-block;
  text-align: center;
}

.container {
  position: relative;
}
