/* Projects*/

.projects__intro {
  color: $color--blanco;
  font-style: italic;
  background-color: $color--azul---muy--oscuro;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0.2rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: justify;
  opacity: 0.5;
  transition: opacity 1s;
  &:hover {
    opacity: 1;
  }
}

.projects__intro--additional {
  size: 90%;
  font-weight: map-get($font-weights, boldweight);
}

.project__title {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  color: $color--azul---muy--oscuro;
  font-size: map-get($font-sizes, mediumsize);
  font-weight: map-get($font-weights, boldweight);
  background-color: $color--azul--muy--claro;
  padding: 0.5rem;
}

.projectos__textoSpace {
  @include padding_margin(1rem 1rem 1rem 1rem, 0 auto);
  min-height: 15rem;
  border: 0.3rem solid $color--gris--claro;
  margin: 1rem;
}

.project__text {
  padding: 1rem 0 1rem 0;
  font-size: map-get($font-sizes, normalsize);
  font-style: italic;
  color: $color--gris--oscuro;
}
