/*GENERAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1320px;
}

/*MAP FOR FONT WEIGHTS*/

$font-weights: (
  "regularweight": 100,
  "mediumweight": 400,
  "boldweight": 600,
  "veryboldweight": 800,
);
$font-sizes: (
  "normalsize": 100%,
  "mediumsize": 150%,
  "bigsize": 200%,
  "hugesize": 400%,
);

/*MIXIN FOR PADDING AND MARGIN*/

@mixin padding_margin($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin paddingb_marginb($paddingb, $marginb) {
  padding-bottom: $paddingb;
  margin-bottom: $marginb;
}
