$color--azul--claro: #a9cef4;
$color--azul--muy--claro: #c6d9ec;
$color--azul--oscuro: rgb(160, 184, 205);
$color--azul---muy--oscuro: rgb(30, 66, 98);
$color--negro: black;
$color--blanco: white;
$color--gris--claro: rgba(230, 230, 230, 0.93);
$color--gris--oscuro: rgba(60, 60, 60, 0.93);
$color--inicio: rgb(6, 20, 32);
$color--fondo--incio: rgba(224, 231, 230, 0.3);
$color--azul--oscuro--header: rgb(45, 101, 149);
$color--gris--oscuro--header: rgba(90, 90, 90);
